#controls {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-rows: 2fr 2fr 2fr 3fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "color-toggle . about"
        "bed-label icu icu"
        "metric-label covid covid"
        "facilities heatmap hexagons";
    justify-content: center;
    align-items: center;
}

#controls #color-toggle {
    grid-area: color-toggle;
    font-size: 1.2rem;
    width: 5rem;
    height: 2.5rem;
    outline: none;
}

#controls #color-toggle.enabled {
    color: white;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px white;
    transform: none;
}

#controls #color-toggle.disabled {
    color: black;
    background-color: white;
    transform: none;
}

#controls .switch-label {
    color: white;
    cursor: default;
}

#controls #about-button {
    grid-area: about;
    width: 5rem;
    height: 2.5rem;
    font-size: 14px;
}

#controls #bed-label {
    grid-area: bed-label;
}

#controls #metric-label {
    grid-area: metric-label;
}

#controls .switch {
    height: 3.5rem;
}

#controls #icu {
    grid-area: icu;
}

#controls #covid {
    grid-area: covid;
}

#controls button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 300ms ease-in-out;
}

#controls label {
    text-align: center
}

#controls #facilities {
    grid-area: facilities;
}

#controls #heatmap {
    grid-area: heatmap;
}

#controls #hexagon {
    grid-area: hexagons;
}

#controls .emoji {
    font-size: 1rem;
    margin-bottom: 0;
}

#controls .button-text {
    margin-top: 0.25rem;
    font-size: 14px;
}

#controls button.enabled {
    background-color: green;
    color: white;
    transform: translateY(-5px);
}

#controls button.disabled {
    background-color: #eeeeee;
    color: black;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}