@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #212121; /* Adjust to #191a1a for mapbox darkv10 */
    font-family: 'Signika', 'Open Sans', sans-serif;
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#dashboard-container {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    opacity: 0.7;
    pointer-events: none;
}

#controls {
    padding: 0.75rem;
    background-color: black;
    border-radius: 1rem;
    pointer-events: auto;
    width: 16rem;
}

#dashboard {
    margin-left: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    /*Force shrink when window shrinks */
    width: 60rem;
    min-width: 30rem;
}

/* TODO: Figure out mobile layout? */
@media screen and (max-width: 600px) {
    #controls {
        display: none
    }
    #dashboard {
        display: none
    }
}

.toggle-dashboard {
    align-self: center;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    border: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.25rem 1.5rem;
    opacity: 0.8;
    text-align: center;
    transition: margin-bottom ease-in-out 500ms;
    pointer-events: auto;
}

#timeslider-container {
    width: 100%;
    pointer-events: auto;
}

.move-enter {
    opacity: 0.01;
    transform: scale(1.1);
}

.move-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.move-exit {
    opacity: 1;
    transform: scale(1);
}

.move-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 300ms;
}