#tooltip {
    display: block;
    position: absolute;
    color: white;
    background: black;
    margin: 1rem;
    padding: 1rem;
    z-index: 1;
    opacity: 0.9;
    text-align: center;
    transition: ease-in-out 0.2s;
    border-radius: 0.5rem;
    width: 30%;
}
  
#tooltip h1 {
    font-size: 16px;
    font-weight: bold;
}

#tooltip h2 {
    font-size: 14px;
}

#tooltip h3 {
    font-size: 12px;
}

#tooltip .chart-container {
    margin-top: -1rem;
    margin-left: -1rem;
    padding: 0% 5%;
    font-size: 12px;
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    cursor: crosshair;

}

#tooltip .table .stats {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    justify-items: center;
    align-items: center;
    white-space: nowrap;
}

#tooltip .stats strong.left {
    justify-self: end;
}

#tooltip .coord {
    font-size: 12px;
}